body {
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 17px;
}
a{
    color: white;
    text-decoration: none;
}
img{ 
    width: 150px;
}
h1{
    color: rgb(0, 190, 0);
     font-size: 48px;
     margin-left: 25px;
}
h2{

    font-size: 32px;
    margin-left: 40px;
    color: blueviolet;
}
h3{
    font-size: 26px;
    margin-left: 40px;
    color: blue;
}
p{
    margin-right: 50px;
    margin-left: 60px;
    font-size: 18px;
    color: bisque;
    text-align: justify;
}
h4{
    font-size: 29px;
    margin-left: 45px;
    color: blue;
}
h5{
    font-size: 30px;
    margin-left: 44px;
    color: blue;
}
h6{
    margin-top: 0%;
    margin-left: 60px;
    font-size: 19px;
    width: 50px;
    color: bisque;


}
p.new{
    font-size: 19px;
    width: 2px;
    color: bisque;
    
}
img{
    margin-left: 300px;
}


